<%- include("./partials/head.ejs") %> <%- include("./partials/top_menu.ejs") %>

<div class="main-wrapper">
  <section class="page-title bg-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a
                href="/"
                class="text-sm letter-spacing text-white text-uppercase font-weight-bold"
                >Home</a
              >
            </li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
            <li class="list-inline-item">
              <% if(!course) { %>
              <a
                href="/courses/add"
                class="text-color text-uppercase text-sm letter-spacing"
                >Add Course</a
              >
              <% } else { %>
              <a
                href="/courses/edit/<%= course.id %>"
                class="text-color text-uppercase text-sm letter-spacing"
                >Edit Course</a
              >
              <% } %>
            </li>
          </ul>
          <h1 class="text-lg text-white mt-2">
            <% if(!course) { %> Add Course <% } else { %> Edit Course <% } %>
          </h1>
        </div>
      </div>
    </div>
  </section>

  <%- include("./partials/course_form.ejs") %> <%-
  include("./partials/footer.ejs") %> <%- include("./partials/bottom.ejs") %>
</div>
