<%- include("./partials/head.ejs") %> <%- include("./partials/top_menu.ejs") %>

<div class="main-wrapper">
  <section class="page-title bg-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a
                href="index.html"
                class="text-sm letter-spacing text-white text-uppercase font-weight-bold"
                >Home</a
              >
            </li>
            <li class="list-inline-item"><span class="text-white">|</span></li>
            <li class="list-inline-item">
              <a
                href="/courses/<%= course._id %>"
                class="text-color text-uppercase text-sm letter-spacing"
                ><%= course.name.slice(0, 15) %></a
              >
            </li>
          </ul>
          <h1 class="text-lg text-white mt-2"><%= course.name %></h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Course Start -->
  <section class="section course">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <div class="single-course">
            <img
              src="/uploads/<%= course.photo %>"
              alt="<%= course.name %>"
              class="img-fluid"
            />

            <ul class="list-group list-group-horizontal-sm mt-5 mb-4">
              <li class="list-group-item">
                <span class="text-lg text-color">2.5</span> Hours
              </li>
              <li class="list-group-item">
                <span class="text-lg text-color">600+</span> calories burnt
              </li>
              <li class="list-group-item">
                <span class="text-lg text-color">75%</span> workout intensity
              </li>
            </ul>
            <p><%= course.description %></p>

            <div class="row mt-5">
              <div class="col-lg-12">
                <h3 class="mb-4">Class Schedule</h3>
              </div>
              <div class="col-sm-4">
                <div class="card bg-gray rounded-0">
                  <div class="card-body">
                    <h4 class="card-title mb-1">
                      <i class="ti-timer mr-2"></i>Sunday
                    </h4>
                    <p class="card-text">10am-12pm</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card bg-gray rounded-0">
                  <div class="card-body">
                    <h4 class="card-title mb-1">
                      <i class="ti-timer mr-2"></i>Saturday
                    </h4>
                    <p class="card-text">12am-2pm</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card bg-gray rounded-0">
                  <div class="card-body">
                    <h4 class="card-title mb-1">
                      <i class="ti-timer mr-2"></i>wednesday
                    </h4>
                    <p class="card-text">12am-2pm</p>
                  </div>
                </div>
              </div>
              <% if(userIN && user.userType === 'instructor') { %>
              <div class="col-lg-12 pt-3">
                <a
                  href="/courses/edit/<%= course._id %>"
                  class="btn btn-primary"
                  >EDİT</a
                >
                <a
                  href="/courses/<%= course._id %>?_method=delete"
                  class="btn btn-danger" onClick="javascript: return confirm('Are you sure?')"
                  >DELETE</a
                >
              </div>
              <% } %>
			  <% if(userIN && (user.userType === 'user')) { %>
				<div class="col-lg-12 pt-3">
				  <% if(enrolled) { %>
				  <a
					href="/users/release/<%= course._id %>"
					class="btn btn-primary"
					>RELEASE</a
				  >

				  <% } else { %>
				  <a
					href="/users/enroll/<%= course._id %>"
					class="btn btn-primary"
					>ENROLL</a
				  >
				  <% } %>
				</div>
			  <% } %>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="course-widget border py-4 px-2 mt-5 mt-lg-0">
            <h3 class="text-center mb-3">Class Features</h3>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center text-black"
              >
                Category<span class="text-black-50">Yoga</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center text-black"
              >
                Duration<span class="text-black-50">14 days</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center text-black"
              >
                Students<span class="text-black-50">35</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center text-black"
              >
                Shift<span class="text-black-50">Morning</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center text-black"
              >
                Price<span class="text-black-50">60$</span>
              </li>
            </ul>
            <div class="text-center mt-3">
              <a href="/pricing" class="btn btn-main">Join Now</a>
            </div>
          </div>
          <!-- <div class= "course-widget py-4 px-2 mt-3">
					<h3 class="text-center mb-3">Class Catgories</h3>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="#"><i class="ti-angle-right mr-2" ></i>Boxing</a> </li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Cycling</a></li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Yoga</a></li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Meditation</a></li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Gym fitness</a></li>
					</ul>
				</div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Section Course ENd -->

  <%- include("./partials/footer.ejs") %> <%- include("./partials/bottom.ejs")
  %>
</div>
